<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" href="/styles/dark.css">

<!-- 
Ensure the website works correctly on phone. Mobile devices
pretend their resolution is lower by default and then zoom
the page
-->
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- Jetbrains Mono -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

<link rel="icon" href="/favicon.png">