body {
    background-color: black;
    color: white;
    text-align: justify;
    display: flex;
    font-size: 1.5em;

    font-family: 'JetBrains Mono', monospace;
}

@media (max-width: 600px) {
    body {
	font-size: 1.3em;
    }
}

a {
    color: blue;
}

img {
    max-width: 100%;
}


aside {
    flex: 1.5;
}

main {
    flex: 3;
    max-width: 1000px;
}

/* I want code and pre to both have 4px padding in the left */
code, pre {
    background-color: #303030;
    overflow-x: scroll;
    padding-left: 4px;
}

/* But, there are cases when code is nested inside pre, if both
   have 4px padding, the first line has 8px padding for some reason.
   So, if code is inside a pre, set left padding to 0px */
pre > code {
    padding-left: 0px;
}
